header ul li{
	display: inline-block;
	margin-right: 20px;
	list-style: none;
}

header nav{
	padding: 25px 10px;
}

ul{
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

.dr-intro-bg{
	min-height: 100vh;
    background: #080808;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    opacity: 1;
    z-index: -1;
}
.dr-intro-bg img{
	width: 100%;

	opacity: 0.1
}

.dr-intro{
	min-height: 100vh;
}

a{
	color: #ff4545;
	transition: all 0.2s ease-in-out;
	padding-bottom: 10px;
}

a:hover{
	color: #fff;
	text-decoration: none;
}

.active{
	color: #fff;
	border-bottom: 1px solid #ff4545;
}

.logo{
	margin-right: 40px;

}
li.logo  {
	height: 70px;
	vertical-align: middle;

}

li.logo a{
	border-bottom: 0px;
}

li.logo a img
{
	height: 100%;
}

.right
{
	float: right;
	/*clear: both;*/
}
.clear-fix{
	clear: both;
}
.share{
	margin-top: 20px;
}
.text-white{
	color: #fff;
}
a.text-white:hover{
	color: #ff4545;
}
.dream-first{
	text-align: center;
	margin-top: 15vh;
	color: #fff;
}
.main-head{
	font-size: 70px;
}
.play{
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: #ff4545;
	box-shadow: 0px 4px 8px #000;
	position: relative;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding-top: 22px;
	cursor: pointer;
	transition:all 0.2s ease-in-out;
}
.play i{
	font-size: 18px;
}
.play:hover{
	box-shadow: 0px 0px 4px #000;
}
.text-light{
	color: #9d9d9d;
}
.mt-80{
	margin-top: 80px;
}
.scroll{
	position: absolute;
	text-align: center;
	position: absolute;
	bottom: 0px;
	margin: auto;
	left: 0;
	right: 0;
	width:100%;
}
.scroll img{
	height: 45px;
}
.intro-desc{
	/*margin-top: 100vh;*/
	position: relative;
	text-align: left;
	overflow: hidden;
	min-height: 400px;
	padding: 60px 20px;
	-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
backface-visibility: hidden;
}
.vh{
	min-height: 100vh;
}
.white-bg{
	background: #fff;
	
}
.dr-desc-bg{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	opacity: 0.1; 
	-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
backface-visibility: hidden;

}
.dr-desc-bg img{
	width: 100%;
}
.latest-card,
.latest-card-desc{
	width: 100%;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0px 4px 14px #9d9d9d;

}
.latest-card-desc{

	box-shadow: 0px 0px 0px #000;
}
.latest-card img{
	width: 100%;
}
.latest-card-desc img{
	height: 100%;
}
.text-dark{
	color: #424242;
}
.play-store{
	margin-top: 40px;
}
.play-store img{
	width: 170px;
}
a.dark:hover{
	color: #9d9d9d;
}
.founder img{
	top: -100px;
	width: auto;
	height: 130%;
}
.video-modal{
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.7);
	z-index: 12;
	top: 0;
	left: 0;
	overflow: auto;
	text-align: center;
	padding-top: 20vh;
}
#esc{
	display: inline-block;
	position: absolute;
	right: 40px;
	top: 20px;
	font-size: 30px;
	color: #fff;
	cursor: pointer;
}
iframe{
	box-shadow: 0px 0px 14px #000;
}